<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口名称-->
<mapper namespace="com.gbq.axs.axsxcs.mapper.CollectMapper">

    <select id="selectAllCollect" resultType="com.gbq.axs.axsxcs.pojo.Dealing">
       SELECT
            dealing.*,
            account.username,
            account.headimg
        FROM
            collecting col,
            dealing,
            account
        WHERE
            dealing.id = col.dealingId
            AND account.id = dealing.uid
            AND col.uid = #{uid}
        ORDER BY
            dealing.id

    </select>

</mapper>
